.navbar.navbar-fixed-top
    .navbar-inner
        .container
          ul.nav
            li
              a(href='/') Home
            li
              a(href='/flot') Flot
            li
              a(href='/flotr2') Flotr2
            li
              a(href='/google') Google
            li
              a(href='/dygraphs') Dygraphs
