.container
  h1= title
  h2 Dowloadable and zoomable
  br
  div
    table
      tr
        td
          #demodiv
        td(valign='top')
          #status(style='width: 200px; font-size: 0.8em; padding-top: 5px;')
    hr
    h3 Create PNG Image on Page Using Dygraphs-Extra
    
    #notsupported(style='display: none;')
      h4 Sorry, browser not supported
      p
        | In order to export a
        code dygraph
        | as an image you need a
        | browser that supports the canvas API and the
        a(href='http://www.w3.org/TR/html5/the-canvas-element.html#dom-canvas-todataurl') canvas.toDataURL
        | method. Unfortunately,
        a(href='http://code.google.com/p/explorercanvas/') excanvas
        | does not support this method and old versions of Internet Explorer (IE6 to IE8)
        | are not supported.
    
    #export-div
      p
        button#update-img Update
        | (
        em Hint: Update the image after changing zoom
        | )
      table
        tr
          td
            img#demoimg
          td(valign='top')
            div(style='width: 200px; font-size: 0.8em; padding-top: 5px;')

script(src='/packages/dygraphs/dygraph-combined.js')
script(src='/packages/dygraphs/dygraph-extra.js')
script
  var data=[];
  for(var i=1;i<=100;i++){var m="01",d=i;if(d>31){m="02";d-=31;}
    if(m=="02"&&d>28){m="03";d-=28;}
    if(m=="03"&&d>31){m="04";d-=31;}
    if(d<10)d="0"+d;data.push([new Date("2010/"+m+"/"+d),i,100-i,1e6*(1+i*(100-i)/(50*50)),1e6*(2-i*(100-i)/(50*50))]);}

  g=new Dygraph(
    document.getElementById("demodiv"),
    data,
    {
      labelsDiv:document.getElementById('status'),
      labelsSeparateLines:true,
      labelsKMB:true,
      colors:["rgb(51,204,204)","rgb(255,100,100)","#00DD55","rgba(50,50,200,0.4)"],
      width:640,
      height:400,
      title:'Interesting Shapes',
      xlabel:'Date',ylabel:'Count'
    }
  );
  
  function createImage() {
      if (!Dygraph.Export.isSupported()){
          //alert('This browser does not support exporting a dygraph as a PNG image. :-(');
          var notsupported = document.getElementById('notsupported');
          notsupported.style.display = 'block';
          var exportDiv = document.getElementById('export-div');
          exportDiv.style.display = 'none';
          return;
      }
      var img = document.getElementById('demoimg')
      Dygraph.Export.asPNG(g, img);
      //opens in new window
      //document.location.href = img.src;
  }
  
  var btn = document.getElementById("update-img")
  btn.onclick = function() {
    createImage()
  }

  createImage();