.container
  header.jumbotron.masthead
    .inner
      .row
        h2 A simple demonstartion of a node.js app built using express, jade, and twitter bootstrap.
      .row
        h3 The following free plotting programs have been incorporated: Flot, Flotr2, Google Chart Tools, Dygraphs, Rickshaw and NVD3.