body
  .container
    h1 Control Interface Mock Up
    br
    .row
      h3(style="float:left; padding-right:20px") Step 1: 
      .control-group
          label.control-label(for='select01', style="float:left")
            .controls
              select#select01
                option Constant Current (mA)
                option Constant Voltage (V)
    .row
      h3(style="float:left; padding-right:28px") Value:
      input.input-small(type='text', placeholder='Enter Value', style="float:left; margin-right:20px")
      h3(style="float:left; padding-right:20px") Cutoff:
      input.input-small(type='text', placeholder='Enter Cutoff', style="float:left")

    .row
      h3(style="float:left; padding-right:20px") Step 2: 
      .control-group
          label.control-label(for='select01', style="float:left")
            .controls
              select#select01
                option Constant Current (mA)
                option Constant Voltage (V)
    .row
      h3(style="float:left; padding-right:28px") Value:
      input.input-small(type='text', placeholder='Enter Value', style="float:left; margin-right:20px")
      h3(style="float:left; padding-right:20px") Cutoff:
      input.input-small(type='text', placeholder='Enter Cutoff', style="float:left")
    .row
      h3(style="float:left; padding-right:20px") Step 3: 
      .control-group
          label.control-label(for='select01', style="float:left")
            .controls
              select#select01
                option Constant Current (mA)
                option Constant Voltage (V)
                option Rest (min)                
    .row  
      h3(style="float:left; padding-right:28px") Value:
      input.input-small(type='text', placeholder='Enter Value', style="float:left; margin-right:20px")
      h3(style="float:left; padding-right:20px") Cutoff:
      input.input-small(type='text', placeholder='Enter Cutoff', style="float:left")
    .row  
      button.btn.btn-primary.btn-large.offset2(type='submit') Start Experiment
          