head
  script(src='http://d3js.org/d3.v2.js', type='text/javascript')
  script(src='/packages/nvd3/nv.d3.min.js')
  script(src='/packages/nvd3//tooltip.js')
  script(src='/packages/nvd3/utils.js')
  script(src='/packages/nvd3/stream_layers.js')
  script(src='/packages/nvd3/models/legend.js')
  script(src='/packages/nvd3/models/axis.js')
  script(src='/packages/nvd3/models/scatter.js')
  script(src='/packages/nvd3/models/line.js')
  script(src='/packages/nvd3/models/lineWithFocusChart.js')
  link(href='/packages/nvd3/nv.d3.css', rel='stylesheet')

style
  body {
    overflow-y:scroll;
  }

  text {
    font: 12px sans-serif;
  }

  svg {
    display: block;
  }

  #chart1 svg {
    height: 500px;
    min-width: 100px;
    min-height: 100px;
  /*
    margin: 50px;
    Minimum height and width is a good idea to prevent negative SVG dimensions...
    For example width should be =< margin.left + margin.right + 1,
    of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
  */
  }

body
.container
  h1= title
  br
  .row
    #chart
      svg(style='height: 500px;')
      
script
  nv.addGraph(function() {
    var chart = nv.models.lineWithFocusChart();

    chart.xAxis
        .tickFormat(d3.format(',f'));
    chart.x2Axis
        .tickFormat(d3.format(',f'));

    chart.yAxis
        .tickFormat(d3.format(',.2f'));
    chart.y2Axis
        .tickFormat(d3.format(',.2f'));

    d3.select('#chart svg')
        .datum(testData())
      .transition().duration(500)
        .call(chart);

    nv.utils.windowResize(chart.update);

    return chart;
  });



  function testData() {
    return stream_layers(3,128,.1).map(function(data, i) {
      return { 
        key: 'Stream' + i,
        values: data
      };
    });
  }

  